@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

body,
#root {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "League Spartan";
}

* {
  color: white;
}
